/venv/
/booksource/_build/
# Vim temporal files
*.swp
# Temporal Jupyter Notebook files
.ipynb_checkpoints/
# Temporal python setup files
dspython.egg-info/
__pycache__/

# R
.RData
.Rhistory
R_libs

shiny_app
shiny_site
