jupyter-book
matplotlib
numpy
ghp-import
ipykernel
pandas
docutils
plotly
ipywidgets
sphinx_inline_tabs
sphinxcontrib-mermaid
sphinxcontrib-plantuml
sphinxcontrib-tikz
sphinxcontrib-wavedrom
sphinxcontrib-blockdiag
statsmodels
ipyleaflet
jupyterlab
#sphinx-hoverxref
#sphinx-tippy
pyppeteer
